body{
    background-color:#EEEEEE;
}

img {
    display: inline-block;
    height: 50px;
}


.btn-darkgrey{
    margin-right: 10px ;
    color:rgb(14, 221, 236);
}

.body-left{
    float: left;
    background-color:#EEEEEE;
    width: 30%;
    height:100vh;
}

#card{
    margin: 2%;
    width: 90%;
}

#cardBody{
    border-bottom: 1px solid #CCCCCC;
}

#cardTitle{
    border-bottom: 2px solid #CCCCCC;
    margin-bottom: 1%;
    padding-bottom: 1%;
    width: auto;
}

#contentBody{
    padding-top: 2%;
}

#body-center{
    background-color: white;
    border-radius: 10px;
}


#userImage{
    height: 40px;
    border: 1px solid #CCCCCC;
    border-radius: 50%;
}

.body-right{
    float: left;
    background-color: #EEEEEE;
    width: 25%;
    height:100vh;
}

.memo-top{
    margin: 20px 15px 15px 15px;
}

.memo{
    font-size: 30px;
    padding: auto;
    margin: 20px;   
    width: 150px;
    text-align: center;
    font-weight: 500;
}

.memo-color1{
    background-color: #FFCC33;
}

.memo-color2{
    background-color:#6699FF;
    margin-top: 30px;
}

.memo-color3{
    background-color:#CC3333;
    margin-top: 30px;
}

.memo-item{
    color: black;
    margin-left: 40px;
}

.dev{
    margin: 15px;
}

.service{
    margin: 15px;
}