body {
    background-color: #EEEEEE;
}

#articleCSS {
    background-color: white;
    border: 2px ridge #EEEEEE;
    border-radius: 10px;
}

img {
    display: inline-block;
    height: 50px;
}

#articleName {
    resize: none;
}

.col-12 {
    margin: 20px 0px;

}