body{
    background-color:#EEEEEE;
}

img{
    width: 20%;
}

#profileCenter{
    background-color: white;
    border: 2px ridge #EEEEEE;
    border-radius: 10px;
}

/* ユーザプロフィール画像 */
#userImage{
    border: 1px solid #CCCCCC;
    border-radius: 50px;
}

#userImage:hover{   
    opacity: 0.5;
    cursor: pointer;
}

#userImage:active{
    position: relative;
    top: 2px;
}

#userImageChangeText{
    color: #AAAAAA;
    position: absolute;
    left: 6%;
    top: 60%;
}
/* ユーザプロフィール画像 */
